.WeatherInfo {
  margin-top: 20px;
}

.WeatherInfo h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  color: #27214266;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.WeatherInfo li strong {
  color: #f65282;
}

.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
}

.WeatherInfo .temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.WeatherInfo .unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
}
